/*
	Sass Prototype 2
*/

:root {
	--clr-white: #fff;
	--clr-pink: #3bc9dc;
	--clr-pink-dark: #2f7781;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
	scroll-behavior: smooth;
	overflow: hidden;
}

.screen-element {
	width: 100%;
	height: 100vh;
}

/* HEADER */

header {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center; justify-content: center;

	background-color: #000;

	h1 {
		position: absolute;
		top: 1rem; left: 1rem;
		font-size: 1rem;

		text-decoration: underline var(--clr-white);

		text-shadow: 0 0 10px var(--clr-white), 0 0 20px var(--clr-white), 0 0 30px var(--clr-pink-dark), 0 0 40px var(--clr-pink-dark), 0 0 50px var(--clr-pink-dark), 0 0 60px var(--clr-pink-dark), 0 0 70px var(--clr-pink-dark);
		color:var(--clr-white);

		a:visited {
			text-decoration: underline var(--clr-white);

			text-shadow: 0 0 10px var(--clr-white), 0 0 20px var(--clr-white), 0 0 30px var(--clr-pink-dark), 0 0 40px var(--clr-pink-dark), 0 0 50px var(--clr-pink-dark), 0 0 60px var(--clr-pink-dark), 0 0 70px var(--clr-pink-dark);
			color:var(--clr-white);
		}
	}

	/* logo GitHub */

#github-logo {
	position: absolute;
	top: 3.5rem; left: 1rem;
	width: 2rem; height: 2rem;
	background-image: url(img/ghub.png);
	background-size: contain;
}

	#bonjsoir {
		font-size: 6rem;
		color: #fff;
	}

	#text-intro {
		position: absolute;
		bottom: 2rem;

		text-align: center;
		line-height: 2rem;
		color: #fff;
	}
}

/* Barre de nav */

nav {
	position: fixed;
	top: 3rem; right: 4.5rem;

	display: flex;
	flex-direction: column;
	align-items: center; justify-content: space-evenly;

	width: 4rem; height: 10rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	border: 2px solid white;

	.nav-button {
		width: 20px; height: 20px;

		display: block;
		transform: rotate(45deg);

		&:nth-child(1) {
			background-color: #000;
		}
		&:nth-child(2) {
			background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);
		}
		&:nth-child(3) {
			background-color: #fff;
		}
	}
}

#nav-caption {
	position: absolute;
	top: 1.5rem; right: 2.9rem;
	background-color: #000;
	color: white;
	font-size: 1.3rem;
	text-align: center;
	padding: 1rem 0;
	border-bottom: 2px solid white;
}

/*****************
	MINI JEUX
******************/

#mini-jeux {
	background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);

	display: flex;
	flex-direction: column;
	align-items: center; justify-content: space-around;


	/* ICONES */


	&__icones {
		width: 60%;
		height: 100px;
		background-color: #33535a82;

		display: flex;
		align-items: center; justify-content: space-around;
		
		border: 3px solid #00000090;

		& > div {
			height: 70px; width: 70px;
			border-radius: 50%;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

			margin: 1rem;
			cursor: pointer;
		}
	}


	/* JEUX */

	&__jeux {
		position: relative;
		width: 50%;
		height: 50vh;

		background-color: transparent;
	}
}

.mini-jeu {
	z-index: 2;

	position: absolute;
	top: 0; left: 0;
	transform-origin: top;

	border-radius: 10px;
	border: 5px solid #1e1e1e;

	width: 100%;
	height: 100%;
}

/* Sliders pour les mini-jeux */

.mini-jeux-hide {
	transform: scaleY(0);
	opacity: 0;
	transition: 1s;
}

.mini-jeux-show {
	transform: scaleY(1.0);
	opacity: 1;
	transition: 1s;
}



/* Boite Mini Jeux + SCORES */

#mini-jeux-et-scores {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.score-box {
		width: 20%;
		height: 75%;
		background-color: #2b0e35cc;
		border: 5px solid #00000090;

		display: flex;
		flex-direction: column;
		align-items: center; justify-content: space-around;
	}

	#score1 {
		border-left: none;
		border-radius: 0 15px 15px 0;
	}

	#score2 {
		border-right: none;
		border-radius: 15px 0 0 15px;	
	}
}

/**********
 * SCORES
 **********/

#infinite-sword-count p, #useless-clics p {
	font-size: 1.25rem;
}

/* Shifummi */

#shifumi-score {
	width: 75%; height: 70px;

	display: flex;
	justify-content: space-around;

	span {
		text-align: center;
	}
}

#user-score, #my-score {
	width: 70px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	border-radius: 10px;

	position: relative;

	display: flex;
	justify-content: center; align-items: center;

	font-size: xx-large;
	font-weight: 800;
	font-family: sans-serif;
}

/* RGB Editor */

#rgb-score {
	height: 70px; width: 75%;
	font-size: 1.2rem;
	border-radius: 10px;

	display: flex;
	align-items: center; justify-content: center;
}

/* Classes CSS pour afficher/cacher des blocs */

.hide-bloc {
	opacity: 0;
}

.show-bloc {
	opacity: 1;
}


  /***********/
 /* Shifumi */
/***********/

#shifumi {
	background-color: #1d5475;
}

#shifumi-box {
	width: 100%;
	height: 100%;
	padding: 10px 0;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#shifumi-choice {
	width: 80%; height: 60%;

	display: flex;
	flex-direction: row; justify-content: space-around; align-items: center;
}

#shifumi-choice > label {
	width: 75px; height: 75px;

	position: relative;
	display: inline-block;
}

/** Affichage des (pierre/feuille/ciseaux) cliquables **/

#pierre, #ciseaux {
	margin-top: auto;
}

#feuille {
	margin-bottom: auto;
}

#shifumi-pierre-display, #shifumi-feuille-display, #shifumi-ciseaux-display {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	cursor: pointer;
	border-radius: 50%;

	background-position: center;
	background-size: cover;

	box-shadow: 0 0 5px 1px rgba(0, 0, 0, .8);
	transition: .1s;
}

#pierre__input, #feuille__input, #ciseaux__input {
	opacity: 0;
	width: 0; height: 0;
}

#ciseaux__input:checked + #shifumi-ciseaux-display,
#feuille__input:checked + #shifumi-feuille-display,
#pierre__input:checked + #shifumi-pierre-display {
	box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .8);
	background-color: #6b92aa8a;
	transition: .1s;
}


/* Affichage pierre cliquable */

#shifumi-pierre-display {
	background-image: url(img/pierre.png);
}



/* Affichage feuille cliquable */

#shifumi-feuille-display {
	background-image: url(img/feuille.png);
	background-size: 60px;
	background-repeat: no-repeat;
}



/* Affichage des ciseaux cliquable */

#shifumi-ciseaux-display {
	background-image: url(img/ciseaux.png);
}

/* Bouton d'envoi du shifumi */

#shifumi-submit {
	font-size: 1.5rem;
	padding: .5rem;

	cursor: pointer;

	color: #1d5475;
	background-color: rgb(21, 21, 21);
	border-radius: 3px;
	border: none;

	&:active {
		box-shadow: inset 0 0 5px 0 black;
	}
}


/* Affichage des choix */

#shifumi-fight {
	width: 70%; height: 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.score-indication-box {
	position: relative;
	width: 75px; height: 75px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

#user-choice, #my-choice {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-position: center;
	background-size: cover;
}

#shifumi-results {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 125px; height: 50px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	border-radius: 10px;

	position: absolute;
	top: 60%; left: 50%;
	transform: translateX(-50%);
}

.score-indication {
	position: absolute;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%)
							rotate(-45deg);
	font-size: xx-large;
	font-weight: 800;
	font-family: sans-serif;

	opacity: .3;
}

#shifumi-results-display {
	font-size: 1.2rem;
}




  /**************************/
 /***** Infinite Sword *****/
/**************************/

#sword-container {
	background-color: #213e44;
}

#fourreau {
	width: 100%; height: 100%;
	display: flex;
	justify-content: center; align-items: center;
}

#sword {
	overflow-y: scroll;
	width: min-content; height: 100%;
	padding-right: 50px;
}

#sword pre {
	width: min-content;
	margin: 0 auto;
}

.hide-sword {
	display: none;
}

/* Affichage du nombre de scrolls sur Infinite Sword */

#infinite-sword-count p {
	font-size: 1.25rem;
}




  /**************************/
 /***** Useless Button *****/
/**************************/

#useless-button {
	background-color: #621111;

	display: flex;
	align-items: center; justify-content: center;
}

#useless-button__btn {
	display: inline-block;
	height: min-content; width: min-content;
	min-width: 150px; min-height: 120px;
	padding: 10px 20px;

	appearance: none;
	border: 0; outline: 0;

	background-color: #17bfaf;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px 5px rgba(0,0,0,.5);
	color: rgb(40, 45, 50);

	cursor: pointer;

	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

#useless-button__btn:hover {
	transform: scale(1.1, 1.1);
}

#useless-button__btn:active {
		transform: scale(.95, .95);
}






  /*********************/
 /* RGBA / HSL EDITOR */
/*********************/

#color-editor {
	background-color: #FFF;

	display: flex;
	flex-direction: column;

	#color-container {
		width: 100%;
		height: 100%;
		position: relative;

		.color-canvas {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;

			padding-left: 20px;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: start;

			.color-input {
				position: relative;
			}
		}
	}

	#color-selector-container {
		position: absolute;
		bottom: 0;
		height: 15%; width: 100%;
		display: flex;

		div {
			height: 100%; width: 50%;
			z-index: 4;
			cursor: pointer;
			background-color: transparent;
		}
	}
}


#rgb-canvas {
	background-color: rgb(255, 255, 255);
	position: relative;
	border-radius: 4px;

	.color-input {
		margin-left: 15px;

		&:nth-child(1) {
		 	&::before {
				content: "R";
			}
		}
		&:nth-child(2) {
			&::before {
				content: "G";
			}
		}
		&:nth-child(3) {
			&::before {
				content: "B";
			}
		}

		&::before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -25px;
		}
	}

	#rgb-value {
		position: absolute;
		top: 50%; left: 60%;
		transform: translateY(-50%);

		font-size: 1.25rem;
		background-color: #FFFFFF4D;
		border-radius: 5px;

		padding: 5px;
	}
}


  /****************************/
 /* L'endroit où tu dessines */
/****************************/

#draw-canvas {
	display: flex;

	#canvas-toolbar {
		display: flex;
		flex-direction: column;
		align-items: center;

		height: 100%; width: 100px;
		background-color: #1a1a1a;
		color: #fff;
		padding-top: 13%;

		h3 {
			position: relative;
			top: -25%;
			margin: 25px 0;
			background: -webkit-linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
			background: linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		label {
			border-top: 3px solid white;
			text-align:  center;
			min-width: 75%; max-width: 90%;
			padding-top: 10px;
		}

		#clear-canvas {
			position: relative;
			top: 25%;
			padding: 5px 15px;
			background-color: #2b776c;
			color: white;
			border: none;
			border-radius: 10px;
		}
	}
}

#canvas-toolbar * {
	margin: 10px 0;
}

#line-width {
	width: 50px;
}