@charset "UTF-8";
/*
	Sass Prototype 2
*/
@font-face {
  font-family: "Solerin-Magica";
  src: url(fonts/Solerin-magica/SolerinMagica.otf);
}
@font-face {
  font-family: "Magistros";
  src: url(fonts/Magistros/Magistros.ttf);
}
:root {
  --clr-white: #fff;
  /*	--clr-blue: #3bc9dc;*/
  --clr-blue-dark: #2f7781;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow: hidden;
}

.screen-element {
  width: 100%;
  height: 100vh;
}

/* HEADER */
header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #000;
  /* logo GitHub */
}
header h1 {
  position: absolute;
  top: 1em;
  left: 1rem;
  font-size: 1rem;
  font-family: "Solerin-Magica", sans-serif;
  text-shadow: 0 0 10px var(--clr-white), 0 0 20px var(--clr-white), 0 0 30px var(--clr-blue-dark), 0 0 40px var(--clr-blue-dark), 0 0 50px var(--clr-blue-dark), 0 0 60px var(--clr-blue-dark), 0 0 70px var(--clr-blue-dark);
  color: var(--clr-white);
  border-bottom: 2px solid white;
  pointer-events: none;
}
header #github-logo {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5em;
  color: #7b7b7b;
}
header #github-logo:hover {
  color: #fff;
}
header #header-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  pointer-events: none;
}
header #header-text #bonjsoir {
  font-size: 6rem;
  font-family: "Magistros", sans-serif;
  color: #fff;
}
header #header-text #text-intro {
  font-family: "Magistros", sans-serif;
  text-align: center;
  line-height: 2rem;
  color: #fff;
}

/* Color Tiles */
#tile-eraser {
  pointer-events: all;
  cursor: pointer;
}

.color-tile {
  width: 50px;
  height: 50px;
}

/* Barre de nav */
nav {
  position: fixed;
  top: 3rem;
  right: 6rem;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 4rem;
  height: 10rem;
  border-radius: 20px;
}
nav .nav-button {
  pointer-events: all;
  width: 20px;
  height: 20px;
  display: block;
  transform: rotate(45deg);
}
nav .nav-button:nth-child(1) {
  background-color: #000;
}
nav .nav-button:nth-child(2) {
  background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);
}
nav .nav-button:nth-child(3) {
  background-color: #fff;
}

#nav-caption {
  position: absolute;
  top: 1.5rem;
  right: 2.9rem;
  pointer-events: none;
  color: white;
  font-size: 1.3rem;
  font-family: "Magistros", sans-serif;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid white;
}

/*****************
	MINI JEUX
******************/
#mini-jeux {
  background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);
  display: flex;
  align-items: center;
  justify-content: center;
  /* ICONES */
  /* JEUX */
}
#mini-jeux__icones {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* icone useless-button */
}
#mini-jeux__icones > div {
  min-height: 70px;
  min-width: 70px;
  max-height: 70px;
  max-width: 70px;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  border: inset 1px #010101;
  background-color: #1d52a6;
  cursor: pointer;
}
#mini-jeux__icones > div:active {
  box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.5);
}
#mini-jeux__icones #infinite-sword-icone, #mini-jeux__icones #useless-button-icone,
#mini-jeux__icones #useless-button-icone__icone, #mini-jeux__icones #color-editor-icone {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mini-jeux__icones #useless-button-icone__icone {
  width: 50px;
  height: 35px;
  background-color: #17bfaf;
  border-radius: 10px;
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.5);
  color: #000;
}
#mini-jeux__jeux {
  position: relative;
  width: 55%;
  height: 70vh;
  background-color: transparent;
}

#mini-jeux-wrapper {
  height: 80%;
  width: 100%;
  padding: 0 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mini-jeu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 5px solid #1e1e1e;
  width: 100%;
  height: 100%;
}

/* Sliders pour les mini-jeux */
.mini-jeux-hide {
  transform: scale(0);
  opacity: 0;
  transition: 1s;
}

.mini-jeux-show {
  transform: scale(1);
  opacity: 1;
  transition: 1s;
}

/* Boite Mini Jeux + SCORES */
#mini-jeux-desc {
  position: relative;
  width: 40%;
  height: 100%;
  color: #aaa;
  display: flex;
  align-items: end;
  border-radius: 10px;
}
#mini-jeux-desc h3 {
  position: absolute;
  top: 0;
  left: 70%;
  font-family: "Magistros";
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#mini-jeux-desc #mini-jeux-score {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px 0 0 2em;
}
#mini-jeux-desc #mini-jeux-score .mini-jeu-score {
  display: flex;
  align-items: center;
  height: 70px;
}

/**********
 * SCORES
 **********/
/* SWORD & BUTTON */
#infinite-sword-count p, #useless-clics p {
  font-size: 1.25rem;
}

/* Shifummi */
#shifumi-score {
  width: 75%;
  height: 70px;
  justify-content: space-around;
}
#shifumi-score span {
  text-align: center;
}

#user-score, #my-score {
  width: 70px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 800;
  font-family: sans-serif;
}

/* RGB Editor */
#rgb-score {
  height: 70px;
  width: 75%;
  font-size: 1.2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Classes CSS pour afficher/cacher des blocs */
.hide-bloc {
  opacity: 0;
}

.show-bloc {
  opacity: 1;
}

/***********/
/* Shifumi */
/***********/
#shifumi {
  background-color: #1d5475;
}

#shifumi-box {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/** Affichage des (pierre/feuille/ciseaux) cliquables **/
#shifumi-choice {
  width: 80%;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#shifumi-choice > label {
  width: 85px;
  height: 85px;
  position: relative;
  display: inline-block;
}

#shifumi-pierre-display, #shifumi-feuille-display, #shifumi-ciseaux-display {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
  transition: 0.1s;
}

#pierre__input, #feuille__input, #ciseaux__input {
  opacity: 0;
  width: 0;
  height: 0;
}

#ciseaux__input:checked + #shifumi-ciseaux-display,
#feuille__input:checked + #shifumi-feuille-display,
#pierre__input:checked + #shifumi-pierre-display {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  background-color: #6b92aa8a;
  transition: 0.1s;
}

/* Affichage pierre cliquable */
#shifumi-pierre-display {
  background-image: url(img/pierre.png);
}

/* Affichage feuille cliquable */
#shifumi-feuille-display {
  background-image: url(img/feuille.png);
  background-size: 65px;
  background-repeat: no-repeat;
}

/* Affichage des ciseaux cliquable */
#shifumi-ciseaux-display {
  background-image: url(img/ciseaux.png);
}

/* Bouton d'envoi du shifumi */
#shifumi-submit {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #1d5475;
  background-color: #151515;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 5px 0 black;
}
#shifumi-submit:active {
  box-shadow: inset 0 0 10px 2px black;
}

/* Affichage des choix */
#shifumi-fight {
  width: 70%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score-indication-box {
  position: relative;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: auto;
}

#user-choice, #my-choice {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

#shifumi-results {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 50px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: auto;
}

.score-indication {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  font-size: xx-large;
  font-weight: 800;
  font-family: sans-serif;
  opacity: 0.3;
}

#shifumi-results-display {
  font-size: 1.2rem;
}

/**************************/
/***** Infinite Sword *****/
/**************************/
#sword-container {
  background-color: #213e44;
}

#fourreau {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sword {
  overflow-y: scroll;
  width: min-content;
  height: 100%;
  padding-right: 50px;
}

#sword pre {
  width: min-content;
  margin: 0 auto;
}

.hide-sword {
  display: none;
}

/* Affichage du nombre de scrolls sur Infinite Sword */
#infinite-sword-count p {
  font-size: 1.25rem;
}

/**************************/
/***** Useless Button *****/
/**************************/
#useless-button {
  background-color: #621111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#useless-button__btn {
  position: absolute;
  user-select: none;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  width: 175px;
  min-height: 75px;
  padding: 8px;
  border: solid 1px #010101;
  background-color: #17bfaf;
  border-radius: 5px;
  box-shadow: 0 6px 15px 5px rgba(0, 0, 0, 0.5);
  color: #000;
  cursor: pointer;
  transition: transform 350ms cubic-bezier(0.2, 3, 0.4, 1);
}

#useless-button__btn:hover {
  transform: scale(1.03);
}

#useless-button__btn:active {
  transform: scale(0.94);
}

/*********************/
/* RGBA / HSL EDITOR */
/*********************/
#color-editor {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}
#color-editor #color-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#color-editor #color-container .color-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
#color-editor #color-container .color-canvas .color-input {
  position: relative;
}
#color-editor #color-selector-container {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  display: flex;
}
#color-editor #color-selector-container div {
  height: 100%;
  width: 50%;
  z-index: 4;
  cursor: pointer;
  background-color: transparent;
}

#rgb-canvas {
  background-color: white;
  position: relative;
  border-radius: 4px;
}
#rgb-canvas .color-input {
  margin-left: 15px;
}
#rgb-canvas .color-input::before {
  font-family: "Magistros", sans-serif;
}
#rgb-canvas .color-input:nth-child(1)::before {
  content: "R";
}
#rgb-canvas .color-input:nth-child(2)::before {
  content: "G";
}
#rgb-canvas .color-input:nth-child(3)::before {
  content: "B";
}
#rgb-canvas .color-input::before {
  font-family: "Magistros", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
  font-size: 1.5em;
}
#rgb-canvas #rgb-value {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

#rgb-score-value, #rgb-value {
  color: #000;
  background-color: #FFFFFF4D;
  padding: 5px;
  border-radius: 5px;
}

/****************************/
/* L'endroit où tu dessines */
/****************************/
#draw-canvas {
  display: flex;
}
#draw-canvas #canvas-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  min-width: 6%;
  background-color: #192b31;
  color: #fff;
}
#draw-canvas #canvas-toolbar h3 {
  font-family: "Magistros";
  padding: 0 5px;
  background: -webkit-linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
  background: linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#draw-canvas #canvas-toolbar__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 15px;
}
#draw-canvas #canvas-toolbar__tools .canvas-toolbar-label {
  border-top: 3px solid white;
  padding-top: 10px;
}
#draw-canvas #canvas-toolbar__tools #lineCap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 3px solid #fff;
}
#draw-canvas #canvas-toolbar__tools label, #draw-canvas #canvas-toolbar__tools input {
  margin: 10px 0;
}
#draw-canvas #canvas-toolbar #clear-canvas {
  background-color: #2b776c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 800;
  font-size: 0.8rem;
}
#draw-canvas #canvas-toolbar #clear-canvas:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

/* Radio inputs (Gomme & types de pointes) */
.radio-input {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
}
.radio-input span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
  background-color: #1a1a1a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.radio-input span #round-pen, .radio-input span #square-pen {
  width: 25px;
  height: 25px;
}
.radio-input span #round-pen {
  border-radius: 50%;
}
.radio-input span .pen-class {
  background-color: #192b31;
}
.radio-input input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-input input:checked + span {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.8);
  background-color: #6c6c6c;
}
.radio-input input:checked + span .pen-class {
  background-color: #fff;
}

#canvas-gomme-display {
  background-image: url(img/gomme.png);
  background-size: 40px;
  transform: rotate(180deg);
}

#line-width {
  width: 50px;
}

/*# sourceMappingURL=prototype2.css.map */
