/*
	Sass Prototype 2
*/

@font-face {
	font-family: "Solerin-Magica";
	src: url(fonts/Solerin-magica/SolerinMagica.otf);
}

@font-face {
	font-family: "Magistros";
	src: url(fonts/Magistros/Magistros.ttf);
}

:root {
	--clr-white: #fff;
/*	--clr-blue: #3bc9dc;*/
	--clr-blue-dark: #2f7781;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.screen-element {
	width: 100%;
	height: 100vh;
}

/* HEADER */

header {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center; justify-content: space-evenly;

	background-color: #000;

	h1 {
		position: absolute;
		top: 1rem; left: 1rem;
		font-size: 1rem;
		font-family: "Solerin-Magica", sans-serif;

		text-shadow: 0 0 10px var(--clr-white), 0 0 20px var(--clr-white), 0 0 30px var(--clr-blue-dark), 0 0 40px var(--clr-blue-dark), 0 0 50px var(--clr-blue-dark), 0 0 60px var(--clr-blue-dark), 0 0 70px var(--clr-blue-dark);
		color:var(--clr-white);

		a {
			text-decoration: none;
			border-bottom: 2px solid white;
			padding: 0 5px;
			width: 50px;
		}

		a:visited {
			text-decoration: underline var(--clr-white);

			text-shadow: 0 0 10px var(--clr-white), 0 0 20px var(--clr-white), 0 0 30px var(--clr-blue-dark), 0 0 40px var(--clr-blue-dark), 0 0 50px var(--clr-blue-dark), 0 0 60px var(--clr-blue-dark), 0 0 70px var(--clr-blue-dark);
			color:var(--clr-white);
		}
	}

	/* logo GitHub */

	#github-logo {
		position: absolute;
		top: 3.5rem; left: 25px;
		width: 2rem; height: 2rem;
		background-image: url(img/ghub.png);
		background-size: contain;
	}

	#bonjsoir {
		font-size: 6rem;
		font-family: "Magistros", sans-serif;
		color: #fff;
	}

	#text-intro {
		font-family: "Magistros", sans-serif;
		text-align: center;
		line-height: 2rem;
		color: #fff;
	}
}

/* Barre de nav */

nav {
	position: fixed;
	top: 3rem; right: 6rem;

	display: flex;
	flex-direction: column;
	align-items: center; justify-content: space-evenly;

	width: 4rem; height: 10rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	border: 2px solid white;

	.nav-button {
		width: 20px; height: 20px;

		display: block;
		transform: rotate(45deg);

		&:nth-child(1) {
			background-color: #000;
		}
		&:nth-child(2) {
			background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);
		}
		&:nth-child(3) {
			background-color: #fff;
		}
	}
}

#nav-caption {
	position: absolute;
	top: 1.5rem; right: 2.9rem;
	background-color: #000;
	color: white;
	font-size: 1.3rem;
	font-family: "Magistros", sans-serif;
	text-align: center;
	padding: 1rem 0;
	border-bottom: 2px solid white;
}

/*****************
	MINI JEUX
******************/

#mini-jeux {
	background: linear-gradient(-35deg, #FF008E, #BD27D2, #591eb0, #09144A);

	display: flex;
	align-items: center; justify-content: center;


	/* ICONES */



	&__icones {
		width: 100%;
		height: 100px;

		display: flex;
		align-items: center; justify-content: space-around;
		
		margin: 5px 0;

		& > div {
			height: 70px; width: 70px;
			border-radius: 50%;
			box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
			border: inset 1px #010101;
			background-color: #1d52a6;
			margin: 1rem;
			cursor: pointer;

			&:active {
				box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.5);
			}
		}

		#infinite-sword-icone, #useless-button-icone,
		#useless-button-icone__icone, #color-editor-icone {
			display: flex;
			justify-content: center; align-items: center;
		}

		/* icone useless-button */
		#useless-button-icone__icone {
			width: 50px; height: 35px;
			background-color: #17bfaf;
			border-radius: 10px;
			box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.5);
			color: #000;
		}
	}


	/* JEUX */

	&__jeux {
		position: relative;
		width: 55%;
		height: 70vh;

		background-color: transparent;
	}
}

#mini-jeux-wrapper {
	height: 80%; width: 100%;
	padding: 0 11rem;
	display: flex;
	align-items: flex-end; justify-content: space-between;
}

.mini-jeu {
	z-index: 2;

	position: absolute;
	top: 0; left: 0;

	border-radius: 10px;
	border: 5px solid #1e1e1e;

	width: 100%;
	height: 100%;
}

/* Sliders pour les mini-jeux */

.mini-jeux-hide {
	transform: scale(0);
	opacity: 0;
	transition: 1s;
}

.mini-jeux-show {
	transform: scale(1.0);
	opacity: 1;
	transition: 1s;
}


/* Boite Mini Jeux + SCORES */

#mini-jeux-desc {
	width: 40%; height: 100%;
	color: #aaa;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 10px;

	h3 {
		margin-bottom: 10px;
		font-family: "Magistros";
		background-color: rgba(0, 0, 0, 0.5);
		padding: 3px 5px;
		border-radius: 10px;
	}

	#mini-jeux-score {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center; justify-content: space-around;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		margin-top: 10px;
		padding: 15px;
	}
}

/**********
 * SCORES
 **********/

/* SWORD & BUTTON */

#infinite-sword-count p, #useless-clics p {
	font-size: 1.25rem;
}

/* Shifummi */

#shifumi-score {
	width: 75%; height: 70px;

	display: flex;
	justify-content: space-around; align-items: center;

	span {
		text-align: center;
	}
}

#user-score, #my-score {
	width: 70px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	border-radius: 10px;

	position: relative;

	display: flex;
	justify-content: center; align-items: center;

	font-size: xx-large;
	font-weight: 800;
	font-family: sans-serif;
}

/* RGB Editor */

#rgb-score {
	height: 70px; width: 75%;
	font-size: 1.2rem;
	border-radius: 10px;

	display: flex;
	align-items: center; justify-content: center;
}

/* Classes CSS pour afficher/cacher des blocs */

.hide-bloc {
	opacity: 0;
}

.show-bloc {
	opacity: 1;
}


  /***********/
 /* Shifumi */
/***********/

#shifumi {
	background-color: #1d5475;
}

#shifumi-box {
	width: 100%;
	height: 100%;
	padding: 10px 0;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}



/** Affichage des (pierre/feuille/ciseaux) cliquables **/

#shifumi-choice {
	width: 80%; height: 85px;

	display: flex;
	flex-direction: row; justify-content: space-around; align-items: center;
}

#shifumi-choice > label {
	width: 85px; height: 85px;

	position: relative;
	display: inline-block;
}

#shifumi-pierre-display, #shifumi-feuille-display, #shifumi-ciseaux-display {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	cursor: pointer;
	border-radius: 50%;

	background-position: center;
	background-size: cover;

	box-shadow: 0 0 5px 1px rgba(0, 0, 0, .8);
	transition: .1s;
}

#pierre__input, #feuille__input, #ciseaux__input {
	opacity: 0;
	width: 0; height: 0;
}

#ciseaux__input:checked + #shifumi-ciseaux-display,
#feuille__input:checked + #shifumi-feuille-display,
#pierre__input:checked + #shifumi-pierre-display {
	box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .8);
	background-color: #6b92aa8a;
	transition: .1s;
}


/* Affichage pierre cliquable */

#shifumi-pierre-display {
	background-image: url(img/pierre.png);
}



/* Affichage feuille cliquable */

#shifumi-feuille-display {
	background-image: url(img/feuille.png);
	background-size: 65px;
	background-repeat: no-repeat;
}



/* Affichage des ciseaux cliquable */

#shifumi-ciseaux-display {
	background-image: url(img/ciseaux.png);
}

/* Bouton d'envoi du shifumi */

#shifumi-submit {
	font-size: 1.5rem;
	padding: .5rem;

	cursor: pointer;

	color: #1d5475;
	background-color: rgb(21, 21, 21);
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 5px 0 black;

	&:active {
		box-shadow: inset 0 0 10px 2px black;
	}
}


/* Affichage des choix */

#shifumi-fight {
	width: 70%; height: 110px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.score-indication-box {
	position: relative;
	width: 75px; height: 75px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	margin-top: auto;
}

#user-choice, #my-choice {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-position: center;
	background-size: cover;
}

#shifumi-results {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 125px; height: 50px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	border-radius: 10px;

	margin-bottom: auto;
}

.score-indication {
	position: absolute;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%)
							rotate(-45deg);
	font-size: xx-large;
	font-weight: 800;
	font-family: sans-serif;

	opacity: .3;
}

#shifumi-results-display {
	font-size: 1.2rem;
}




  /**************************/
 /***** Infinite Sword *****/
/**************************/

#sword-container {
	background-color: #213e44;
}

#fourreau {
	width: 100%; height: 100%;
	display: flex;
	justify-content: center; align-items: center;
}

#sword {
	overflow-y: scroll;
	width: min-content; height: 100%;
	padding-right: 50px;
}

#sword pre {
	width: min-content;
	margin: 0 auto;
}

.hide-sword {
	display: none;
}

/* Affichage du nombre de scrolls sur Infinite Sword */

#infinite-sword-count p {
	font-size: 1.25rem;
}




  /**************************/
 /***** Useless Button *****/
/**************************/

#useless-button {
	background-color: #621111;
	display: flex;
	align-items: center; justify-content: center;
}

#useless-button__btn {
	position: absolute;
	font-size: 16px;
	width: 175px;
	min-height: 75px;
	border: solid 1px #010101;
	background-color: #17bfaf;
	border-radius: 5px;
	box-shadow: 0 6px 15px 5px rgba(0,0,0,.5);
	color: #000;
	cursor: pointer;
	transition: transform 350ms cubic-bezier(0.2, 3, 0.4, 1);
}

#useless-button__btn:hover {
	transform: scale(1.03);
}

#useless-button__btn:active {
		transform: scale(.94);
}



  /*********************/
 /* RGBA / HSL EDITOR */
/*********************/

#color-editor {
	background-color: #FFF;

	display: flex;
	flex-direction: column;

	#color-container {
		width: 100%;
		height: 100%;
		position: relative;

		.color-canvas {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;

			padding-left: 20px;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: start;

			.color-input {
				position: relative;
			}
		}
	}

	#color-selector-container {
		position: absolute;
		bottom: 0;
		height: 15%; width: 100%;
		display: flex;

		div {
			height: 100%; width: 50%;
			z-index: 4;
			cursor: pointer;
			background-color: transparent;
		}
	}
}


#rgb-canvas {
	background-color: rgb(255, 255, 255);
	position: relative;
	border-radius: 4px;

	.color-input {
		margin-left: 15px;

		&:nth-child(1) {
		 	&::before {
				content: "R";
			}
		}
		&:nth-child(2) {
			&::before {
				content: "G";
			}
		}
		&:nth-child(3) {
			&::before {
				content: "B";
			}
		}

		&::before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -25px;
		}
	}

	#rgb-value {
		position: absolute;
		top: 50%; left: 60%;
		transform: translateY(-50%);

		font-size: 1.25rem;
		background-color: #FFFFFF4D;
		border-radius: 5px;

		padding: 5px;
	}
}


  /****************************/
 /* L'endroit où tu dessines */
/****************************/

#draw-canvas {
	display: flex;

	#canvas-toolbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		height: 100%; min-width: 6%;
		background-color: #1a1a1a;
		color: #fff;

		h3 {
			font-family: "Magistros";
			padding: 0 5px;
			background: -webkit-linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
			background: linear-gradient(90deg, #91e4e4, #86a8e7, #7f7fd5);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		&__tools {
			display: flex;
			flex-direction: column; align-items: center;
			border-top: 4px solid #fff; border-bottom: 4px solid #fff;
			padding: 15px;

			#lineCap {
				display: flex;
				flex-direction: column;
				margin-top: 10px;
				padding: 10px 0;
				border-top: 3px solid #fff;

				.canvas-toolbar-label {
						border-top: 3px solid white;
						text-align:  center;
						padding-top: 10px;
				}
			}

			label, input {
				margin: 10px 0;
			}
		}

		#clear-canvas {
			background-color: #2b776c;
			color: white;
			border: none;
			border-radius: 10px;
			padding: 10px 15px;
			font-weight: 800; font-size: .8rem;

			&:active {
				box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .8);
			}
		}
	}
}

/* Radio inputs (Gomme & types de pointes) */

.radio-input {
	width: 50px; height: 50px;
	position: relative;
	display: inline-block;

	span {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;

		cursor: pointer;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, .8);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	input {
		opacity: 0;
		width: 0; height: 0;

		&:checked + span {
			box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .8);
		}
	}
}

#canvas-gomme-display {
	background-image: url(img/gomme.png);
	background-size: 40px;
}

#line-width {
	width: 50px;
}